extends ../shared/template
block content
  .wrapper
    #controls
      button#formhide Hide/Show Form
      .form
        label Add A New Recipe
        form(method='post', action='/recipes')
          input(name='name', type='text', placeholder='Name', autofocus=true)
          input(name='photo', type='text', placeholder='Photo URL')
          input(name='ingredients', type='text', placeholder='Ingredients')
          textarea(name='directions', placeholder='Directions')
          button Add Recipe!
    h2 Recipe Index
    #recipes
      each recipe in recipes
        include recipe
  block scripts

