@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

body{
  background-color: #514E5C;
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

body h2{
  font-size: 1.5em;
}

#header{
  background-color: #3D9970;
  margin: 0;
}

#header h1{
  margin: 0 auto;
  font-size: 2em;
}

#recipes > *{
  vertical-align: top;
}

#recipe{
  position: relative;
  top: 0px;
  display: inline-block;
  height: auto;
  max-width: 25%;
  border: 1px solid black;
  margin: 5px;
  background-color: #ccc;
  padding: 0px;
}

#recipe h3{
  font-size: 20px;
}

#recipe img{
  width: 100%;
}

#recipetext{
  margin: 0px;
  padding: 5px;
}
