@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#recipes{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

body{
  background-color: #514E5C;
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

.wrapper{
  padding: 5px;
}

body h2{
  font-size: 1.5em;
}

#header{
  background-color: #3D9970;
  margin: 0;
}
#formhide{
  display:block;
}
#header h1{
  margin: 0 auto;
  font-size: 2em;
}

#recipes > *{
  vertical-align: top;
}

.recipe{
  position: relative;
  top: 0px;
  display: inline-block;
  height: auto;
  width: 200px;
  border: 2px solid black;
  margin: 5px;
  background-color: #ccc;
  padding: 0px;
  border-radius: 20px;
  overflow: hidden;
}
#categories{
  list-style: none;
}
#categories li{
  margin: 15px;
  display: inline-block;
}
.category{
  text-decoration: none;
}

.recipe h3{
  font-size: 20px;
}

.recipe h4{
  color: red;
}

.recipe img{
  width: 100%;
  max-height: 200px;
}

#recipetext{
  margin: 0px;
  padding: 5px;
}

.form form > *{
  margin: 5px;
  display: block;
  vertical-align: top;
}

.form{
  background-color: #ccc;
  padding: 5px;
  border: 2px solid black;
  display: inline-block;
}
